# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
*.iml
.idea/
.vscode/
*.swp
*.swo
.project
.classpath
.settings/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
